<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.laba.iis.persistence.GroupRepository">

    <insert id="create" parameterType="com.solvd.laba.iis.domain.Group" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        INSERT INTO groups (number)
        VALUES (#{number})
    </insert>

    <sql id="SetFields">
        SELECT groups.id     as group_id,
               groups.number as group_number
        FROM groups
    </sql>

    <select id="findAll" resultMap="GroupResultMap">
        <include refid="SetFields"/>
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="GroupResultMap">
        <include refid="SetFields"/>
        WHERE groups.id = #{id}
    </select>

    <select id="isExist" parameterType="java.lang.Integer" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM groups WHERE groups.number = #{number})
    </select>

    <select id="findByCriteria" resultMap="GroupResultMap">
        <include refid="SetFields"/>
        LEFT JOIN lessons ON lessons.group_id = groups.id
        WHERE lessons.teacher_id = #{teacherId}
        <if test="groupSearchCriteria.subjectId != null">
            AND lessons.subject_id = #{groupSearchCriteria.subjectId}
        </if>
    </select>

    <update id="update" parameterType="com.solvd.laba.iis.domain.Group">
        UPDATE groups
        <set>
            number = #{number}
        </set>
        WHERE groups.id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE
        FROM groups
        WHERE groups.id = #{id}
    </delete>

    <resultMap id="GroupResultMap" type="com.solvd.laba.iis.domain.Group" autoMapping="false">
        <id property="id" column="group_id"/>
        <result property="number" column="group_number"/>
    </resultMap>

</mapper>