<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.laba.iis.persistence.GroupRepository">

    <resultMap id="group" type="com.solvd.laba.iis.domain.Group">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
    </resultMap>

    <select id="findAll" resultMap="group">
        SELECT DISTINCT groups.id, groups.number
        FROM groups
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="group">
        SELECT groups.id, groups.number
        FROM groups
        WHERE id = #{id}
    </select>

    <select id="isExist" parameterType="java.lang.Integer" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM groups WHERE number = #{number})
    </select>

    <select id="findByCriteria" resultMap="group">
        SELECT DISTINCT groups.id, groups.number
        FROM groups
        LEFT JOIN lessons ON (lessons.group_id = groups.id)
        WHERE lessons.teacher_id = #{teacherId}
        <if test="groupSearchCriteria.subjectId != null">
            AND lessons.subject_id = #{groupSearchCriteria.subjectId}
        </if>
    </select>

    <update id="update" parameterType="com.solvd.laba.iis.domain.Group">
        UPDATE groups
        <set>
            <if test="number != null">
                number = #{number}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE
        FROM groups
        WHERE id = #{id}
    </delete>

    <insert id="create" parameterType="com.solvd.laba.iis.domain.Group" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        INSERT INTO groups
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="number != null">
                number
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="number != null">
                #{number}
            </if>
        </trim>
    </insert>

</mapper>